
body{
    margin: 0;
    font-family: 'Arimo', sans-serif;
}
table{
    width: 100%;
    height: 70vh;
    color: white;
    font-family: 'Arimo', sans-serif;
    background-color: rgb(65, 65, 141);
}
td{
    width: 25%;
    text-align: center;
    font-size: 24px;
    background-color: rgb(52, 52, 206);
}


td:hover{
    background-color: rgb(0, 52, 206);
    cursor: pointer;            
}
#resultArea{
    height: 30vh;
    background-color: rgb(0, 238, 255);
    color: white;
    font-size: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px;
    box-sizing: border-box;
}
#result{
    background-color: black;
}
#result:hover{
    background-color: rgb(37, 30, 30);
}
.result2{
    background-color: rgb(73, 117, 117);
}
.result2:hover{
    background-color: rgb(77, 57, 57);
}